@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --xl-sidebar-w: 20rem;
        --sidebar-w: 15rem;
    }
    html, body, #root, #root .App > div:nth-child(2){
    height:100%
    }
    body {
        background-image: url('../images/backgrounds/homeBackground.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
    }
    #root .App > div:nth-child(2){
        position: relative;
    top: 50px;
    }
    
    @media only screen and (max-width: 640px) {
  body {
    background-size: 820px 830px;
  }
}

}
@layer components {
    .rooms-after {
        @apply 
        after:w-3
        after:h-3
        after:text-4xl
        after:absolute
        after:top-1
        after:left-3
        after:font-extrabold
        after:text-slate-500
        transition-all
        duration-300
    }
    .input{
    @apply
   border 
   border-slate-400
   rounded
   px-2 
   py-3 
   w-[100%]
     }

}
