@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  *{
    scrollbar-width: thin;
    scrollbar-color: #558ce7 transparent
   
  }
    :root {
        --xl-sidebar-w: 20rem;
        --sidebar-w: 15rem;
    }
    html, body, #root, #root .App > div:nth-child(2){
    height:100%
    }
    body {
        background-image: url('../images/backgrounds/homeBackground.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        
    }
    #root .App > div:nth-child(2){
        position: relative;
    top: 50px;
    }

    #home_section #note_section{
   max-width:780px
   }
    #home_section #note_section button,#home_section #note_section h1 {
    display: none;
    }
    #home_section #note_section{
    height: 200px;
    overflow-y: auto;
    margin:0;
    
    }
    ::-webkit-scrollbar-thumb {
    background:#558ce7
    }
   ::-webkit-scrollbar {
    width: 5px;
    }
    /* #home_section #note_section ul{
      margin-inline: 0
       
      } */
    #home_section #note_section li{
    margin-bottom: 10px;
     
    }
    
    #home_section #note_section textarea{
      width: 100%;
      pointer-events:none;
      }

    @media only screen and (max-width: 640px) {
  body {
    background-size: 1020px 1280px;
  }
}

}
@layer components {
    .rooms-after {
        @apply 
        after:w-3
        after:h-3
        after:text-4xl
        after:absolute
        after:top-1
        after:left-3
        after:font-extrabold
        after:text-slate-500
        transition-all
        duration-300
    }
    .input{
    @apply
   border 
   border-slate-400
   rounded
   px-2 
   py-3 
   w-[100%]
     }

}
