input[type="range"]{
  width:15rem
}

form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
padding: 0 10px;
align-items: center;
}
fieldset{
  display: flex;
  flex-flow: row wrap;
  max-width: 235px;
}
fieldset div{
  padding:10px;

}
fieldset label{
 
  user-select: none;
  cursor: pointer;
}
#Room1{
  background: #DC2127;
}
#Room2{
  background:#FF887C
}

#Room3{
  background:#FFB878
}

#Room4{
  background:#FBD75B
}

#Room5{
  background:#7AE7BF
}

#Room6{
  background:#51B749
}

#Room7{
  background:#5484ED
}

#Room8{
  background:#DBADFF
}
.nbrPers{
  border: 1px solid black;
  border-radius: 5px;
  padding:2px 5px;
}