:root{
  --room-number-font-size:70px;
  --room-number-top-position: 0px;
  --box-shadow: 3px 3px 6px 1px #0000003d;
  --box-shadow-hover : 3px 3px 6px 3px #0000003d;
  --label-shadow : 3px 3px 6px -2px #0000003d;
  --grey : #8c8989;
  --primary-color:10px; 
  --background-color:#eaeaea;
}
body{
  background-color: var(--background-color);
}
#user_logo img{
  width :40px;
  height: 40px;
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  z-index: 100;
}

#divSignin{
  position: fixed;
  top:5px;
  left:5px;
  z-index: 100;
}
nav{
  padding-right: 10px;
  position: fixed;
  background-color:  #eaeaead0;
  width: 100%;
  z-index: 50;
  top:0;
  
}
nav li, nav a{
  all:unset;
  cursor:pointer;
}
nav li:last-child{
  margin-right:5px
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap:0.5rem;
  
}
input, button{
  padding: 5px;
  background-color: var(--primary-color);
  padding:5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border:1px solid var(--grey);

}
input[type="range"]{
  width:13rem;
  background-color: white;
}
input[type="submit"]:hover, button:not(.MuiButtonBase-root):hover{
  opacity: 1;
  box-shadow: var(--box-shadow-hover);

}
input[type="submit"], button:not(.MuiButtonBase-root){
  opacity: 0.9;
  box-shadow: var(--box-shadow);
  transition: 200ms;
}

  
.rooms input[type="checkbox"]{
  width: 20px;
  accent-color: rgb(69, 62, 132);
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 10px 10px 5px #0000008a;
  z-index: 1;
}

form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
padding: 0 10px;
align-items: center;
}
form fieldset:first-child{
  gap:1.5rem ;
  margin-top:75px;

}
form  > fieldset{
  display: flex;
  flex-flow: row wrap;
  max-width: 235px;
  gap:1rem 2rem;
  justify-content: center;
  border-radius: 5px;
  padding-block:15px 20px;
  background-color: white;
  box-shadow: var(--box-shadow);
  border:none;
}
/**DATE pickers*/

fieldset div{
  padding:8px;

}
fieldset legend{
 translate: -12px -12px;

}

fieldset label{
  user-select: none;
  cursor: pointer;
  
}

.rooms{
  width: 70px;
  height: 70px;
  text-align: center;
  box-shadow:inset var(--box-shadow-hover);
  transition: 200ms;
}
.rooms:after{
  position: absolute;
  inset:var(--room-number-top-position) 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--room-number-font-size);
  font-weight: 900;
}
#Room1{
  background: hsl(358, 74%, 50%);
  position: relative;

}
#Room1:after{
  content: "1";
  color:hsl(358, 74%, 45%);
}
#Room2{
  background:#FF887C;
  position: relative;
}
#Room2:after{
  content: "2";
  color:hsl(5, 100%, 84%)
}
#Room3{
  background:#FFB878;
  position: relative;

}
#Room3:after{
  content: "3";
  color:hsl(28, 100%, 64%)
}
#Room4{
  background:#FBD75B;
  position: relative;

}
#Room4:after{
  content: "4";
  color:hsl(47, 95%, 57%)
}
#Room5{
  background:#7AE7BF;
  position: relative;

}
#Room5:after{
  content: "5";
  color:hsl(158, 69%, 59%)
}
#Room6{
  background:#51B749;
  position: relative;

}
#Room6:after{
  content: "6";
  color:hsl(116, 43%, 60%)
}
#Room7{
  background:#5484ED;
  position: relative;

}
#Room7:after{
  content: "7";
  color:hsl(221, 81%, 73%)
}
#Room8{
  background:#DBADFF;
  position: relative;

}
#Room8:after{
  content: "8";
  color:hsl(274, 100%, 74%)
}
.nbrPers{
  border: 1px solid black;
  border-radius: 5px;
  padding:2px 5px;
  background-color: white;
}

.response, .error {
  background-color: white;
  padding:20px 15px;
  margin-inline:5px;
  font-weight: 500;
  border-radius: 10px;
  position: fixed;
  top:10%;
  left: 50%;
  translate:-55%;
  z-index: 1000;
}
.response{
  color: green;
  border:1px solid green;

}
.error{
  color: red;
  border:1px solid red;

}
.eventQuantity{
text-align: center;
margin-top:75px;

}
.eventQuantity-number{
padding:5px;
border:3px solid var(--grey);
border-radius:5px;
font-weight: 500;
font-size: 18px;

}

.eventsList{
  padding-inline:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eventCard{
  list-style-type: none;
  box-shadow: var(--box-shadow);
  width: 200px;
  padding:1rem;
  margin-block: 1rem;
  border-radius: 10px;
  border-top-left-radius: 5px;
  border-top:5px solid #4285f4;
  border-bottom:5px solid #34a853;
  border-right:5px solid #fbbc04;
  border-left:5px solid #4285f4;
  position:relative;
  transition: all 100ms;
  background-color: white;
}
.eventCard:after{
  content:'';
  position:absolute;
  right:-5px;
  bottom:-5px;
  background-color: white;
  width:20px;
  height: 20px;
  border-right: 5px solid #ea4335;
  border-bottom: 5px solid #ea4335;
  border-bottom-right-radius: 10px;
}
.eventCard:before{
  content:'';
  position:absolute;
  left:-5px;
  bottom:-5px;
  background-color: white;
  width:20px;
  height: 20px;
  border-left: 5px solid #188038;
  border-bottom: 5px solid #188038;
  border-bottom-left-radius: 10px;
}
#eventCardCorner{
    content:'';
    position:absolute;
    right:-5px;
    top:-5px;
    background-color: white;
    width:20px;
    height: 20px;
    border-right: 5px solid #1967d2;
    border-top: 5px solid #1967d2;
    border-top-right-radius: 10px;
    z-index: 5;
}
.eventCard:hover{
  translate: 0 -2px;
  box-shadow: var(--box-shadow-hover);
  transition: all 100ms;

}
.eventCard-clientInfo{
  display:flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;

  }
  .eventCard-clientInfo h2{
    font-weight: 500;
  font-size: 20px;
  margin-block:0px;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
.eventCard-clientInfo-nom::first-letter, .eventCard-clientInfo-prenom::first-letter{
  text-transform: capitalize;
  display: inline;
}
.eventCard-date{
  z-index: 100;
  padding:5px;
  text-align: left  ;

  
}
.eventCard-tel, .eventCard-mail{
  border:1px solid var(--grey);
  padding-block:7px 3px;
  padding-left: 5px;
  margin-block:5px;
  border-radius: 5px;
  box-shadow: var(--label-shadow);
  height:25px
}

.eventCard-tel img, .eventCard-mail img{
  margin-right:10px;
  padding-right:5px;
  padding-left:3px;
  border-right: 1px solid var(--grey);
  vertical-align: bottom;

}
.eventCard-tel a, .eventCard-mail a{
  text-decoration: unset;
  color:black;
  font-weight: 500;
  display: block;
}
.eventCard-mail a{
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.eventCard-description{
  display:flex;
  justify-content: space-around;
  padding-block:10px
}
.eventCard-description img{
  padding-right: 10px;
}

.eventCard-description span{
  font-weight: 500;
}
.eventCard-nav{
  border-top: 1px solid var(--grey);
  padding-top:10px;
  display: flex;
  justify-content: space-around;
}
.eventCard-nav img{
  cursor: pointer;
  opacity: 0.8;
}
.eventCard-nav img:hover{
  opacity: 1;
}
.eventCard-calendar{
  vertical-align: middle;
}
